button{
  padding: .75rem 1rem;
  border-radius: 5px;
  border: none;
  width: 120px;
  margin-right: .5rem;
  font-size: 1.25rem;
  background-color: rosybrown;
  outline: none;
  
}
button:hover{
  background-color: royalblue;
  transition: .5s ease-in all;
}