button{
  padding: .75rem 1rem;
  border-radius: 5px;
  border: none;
  width: 120px;
  margin-right: .5rem;
  font-size: 1.25rem;
  background-color: rgb(40, 98, 117);
  outline: none;
  
}
button:hover{
  background-color: rgb(102, 131, 218);
  transition: .3s ease-in all;
}
.btns {
  width: 100%;
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
}
.watch{
  background: steelblue;
  flex: 1;
  
}
.right-panel{
  min-width: 20%;
  background: coral;
}
.main{
  min-height: 100vh;
  background: teal;
  display: flex;
  flex-flow: row;
}
.time-list{
  margin: 0;
  padding:0;
  list-style: none;
}
.time-item{
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding: 20px 0px;
}